:root{
    --theme-color: rgb(0,167,111);
}

.nav-pills .nav-link.active, .theme-bg, .theme-bg *,
.theme-btn{
    background-color: var(--theme-color) !important;
    color: #fff !important;
    border-color: var(--theme-color)!important;
}
.theme-color{
    color: var(--theme-color) !important;
}
.text-theme-hover:hover *{
    color: rgb(22, 187, 159) !important;
}
.theme-table tr:hover td, .theme-hover:hover {
    background-color: #dff8ee;
}
.filter-hover:hover {
    filter: brightness(110%);
}

.formStep-active {
    background-color: #633bbc !important;
    color: white !important;
}
.formStep-success{
    background-color: green;
    color: white;
}
.theme-secondary{
    background-color: #ffffff75 !important;
    color: var(--theme-color) !important;
}

.login-bg{
    position: absolute;
    height: 65vh;
    background-color: #fff;
    aspect-ratio: 1/1;
    border-radius: 20%;
    transform: rotate(45deg);
}


.login-bg.left{
    top: -100px;
    left: -100px;
}
.login-bg.right{
    bottom: -100px;
    right: -100px;
}

.border-md-0 {
    border-top: unset !important;
    border-bottom: unset !important;
    border-left: unset !important;
    border-right: unset !important;/* Change the color or style as needed */
  }

.cursor-pointer{
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}