:root {
    --theme-color: rgb(0, 167, 111);
    --theme-color-light: #7fc9b0;
    --theme-bg-light: #f8f9fa;
    --theme-bg-light2: #e5e5e5;
}
p{
    margin-bottom: 0 !important;
}
.bg-body body {
    background: #fbfdfc;
}
table{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.nav-pills .nav-link.active,
.theme-bg,
.theme-bg *,
.theme-btn {
    background-color: var(--theme-color) !important;
    color: #fff !important;
    border-color: var(--theme-color) !important;
}
.theme-bg-light {
    background-color: var(--theme-bg-light) !important;
}
.theme-bg-light2 {
    background-color: var(--theme-bg-light2);
}
.theme2-bg {
    background-color: rgb(0, 167, 111);
}

.theme-color {
    color: var(--theme-color) !important;
}

.text-theme-hover:hover * {
    color: rgb(22, 187, 159) !important;
}

.theme-table tr:hover td,
.theme-hover:hover,
.theme-hover:hover * {
    background-color: #dff8ee !important;
    color: var(--theme-color) !important;
}

.filter-hover:hover {
    filter: brightness(110%);
}


.theme-secondary {
    background-color: #ffffff75 !important;
    color: var(--theme-color) !important;
}
.theme-bg2 {
    background-color: var(--theme-color-light);
}
.login-bg {
    position: absolute;
    height: 65vh;
    background-color: #fff;
    aspect-ratio: 1/1;
    border-radius: 20%;
    transform: rotate(45deg);
}


.login-bg.left {
    top: -100px;
    left: -100px;
}

.login-bg.right {
    bottom: -100px;
    right: -100px;
}

.border-md-0 {
    border-top: unset !important;
    border-bottom: unset !important;
    border-left: unset !important;
    border-right: unset !important;
    /* Change the color or style as needed */
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.flex,
.flex-between {
    display: flex !important;
    align-items: center;
    gap: .5rem;
}

.flex-between {
    justify-content: space-between !important;
}

ul.p-dropdown-items {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.sidebar {
    transition: all .3s;
}

.custom-theme.p-datatable .p-datatable-thead>tr>th {
    background: var(--theme-color);
    color: #fff;
}

.custom-theme.p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #fff;
}
.custom-dropdown-toggle::after{
    display: none !important;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    color: #fff;
    transition: all 0.2s;
    z-index: 100;
    width: fit-content;
}

.sidebar .nav-item a {
    padding: 20px 30px !important;
    width: 100%;
    text-align: center;
}

.sidebar.expanded .nav-item a {
    width: 300px;
    text-align: start;
}


.sidebar.expanded {
    width: 300px;
}

.sidebar.collapsed {
    width: 80px;
}




/* HEADER */


a {
    color: unset !important;
    text-decoration: none !important;
}

.p-menu ul,
ul.p-list-menu {
    padding-left: 0 !important;
}

.p-menu .p-submenu-header {
    background: transparent;
}

.p-menu {
    width: fit-content;
}

.form-label {
    color: #808080;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
}

.form-label.required::after {
    content: "*";
    color: red;
    margin-left: 2px;
}

.p-datatable-tbody tr,
.p-datatable-tbody td,
.p-datatable {
    user-select: text;
}
.p-datatable-thead{
    z-index: 0 !important;
}
.text-red {
    color: red;
}
.p-component ol,.p-component ul {
    list-style: none;
    padding: 0;
}
.p-stepper-nav{
    margin-bottom: 0;
}
.custom-tab.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link ,
.custom-tab .p-unselectable-text.p-tabview-selected.p-highlight{
    color: var(--theme-color);
    border-color: var(--theme-color);
}
.custom-tab .p-tabview-nav{
    margin-bottom: unset;
}
.custom.p-menuitem-link.active{
    background-color: var(--theme-color-light);
    color: black !important;
}
/* Form Field */
.no-focus {
    outline: none;
    border-color: #ccc;
}


/* Speed Dial CSS */
.p-speeddial-action,
.p-speeddial-action:hover {
    color: #fff !important;
}
.p-speeddial-button.p-button.p-button-icon-only {
    width: 3.4rem;
    height: 3.4rem;
}
.p-speeddial-action.disabled{
    color: #bbbaba  !important;
    background-color: #333333ab;
}